<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to RBTech</h1>
    <h2>How to use Website</h2>

    <div>
        <ul>
            <li><span>GET (home):</span>/</li>
            <li><span>GET: </span> /user</li>
            <li><span>GET: </span> /user/:id</li>
            <li><span>POST: </span>/user/register</li>
            <li><span>PATCH: </span>/user/login</li>
            <li><span>PUT: </span>/user/:id</li>
            <li><span>DELETE: </span>/user/:id</li>
            <li><span>GET: </span>/user/:id/cart</li>
            <li><span>POST: </span>/user/:id/cart</li>
            <li><span>PUT: </span>/user/:id/cart</li>
            <li><span>DELETE: </span>/user/:id/cart</li>
            </ul>
            <h4>Products</h4>
        <ul>
            <li><span>GET: </span>/products</li>
            <li><span>GET: </span>/products/:id</li>
            <li><span>POST: </span>/products</li>
            <li><span>PUT: </span>/products/:id</li>
            <li><span>DELETE: </span>/products/:id</li>
            </ul>
    </div>
    
</body>
</html>

<style>
body{
    text-align: center;
  background-image: url('https://i.postimg.cc/mgwFTjqR/Purple-Smoke-Black-Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

li{
    list-style: none;
    text-decoration: underline;
}
span{
    position: absolute;
    right: 53%;
    text-decoration: underline;
}
</style>